

<section class="imagegallery-wrap container-fluid">
  <div class="container text-left {{ activeTab == 'active'  ? 'active' : 'deleted'}}">
	
  	<div class="gallery-control">
  		<ul class="nav nav-pills">
        <li role="presentation" (click)="activePanel = !activePanel" class="{{activePanel ? 'active' : ''}}"><a (click)="showPanel('deleted');">Deleted</a></li>
        <li role="presentation" (click)="activePanel = !activePanel" class="{{activePanel ? '' : 'active'}}"><a (click)="showPanel('active');">Active</a></li>
      </ul>
  	</div>

  	<div class="inner-wrapper">

  		<ul>
	  		<li id="{{ item.id }}" *ngFor='let item of galleries' class="{{ item.status  ? 'activeItem' : 'deletedItem'}}">
	  			<div class="image-container" (click)="selectImage( item.id )">
	  				<img src="assets/images/{{ item.image }}" class="img-fluid" />
	  			</div>
	  			
	  			<div class="title">{{ item.description }}</div>
	  		</li>
	  	</ul>
      
  	</div>
  </div>
</section>

<section class="actionbar-wrap" *ngIf='selectedGalleryItemId'>
  <div class="container">
  	<ul>
  		<li class="action-delete" (click)="deleteImage()" *ngIf="activeTab=='active'">
  			<i class="fa fa-trash-o" aria-hidden="true" title="Delete image"></i>
  		</li>
  		<li class="action-download" (click)="downloadImage()" *ngIf="activeTab=='active'">
  			<a href="{{downloadLink}}" target="_blank"><i class="fa fa-download" aria-hidden="true" title="Download image"></i></a>
  		</li>
      <li class="action-restore" (click)="restoreImage()" *ngIf="activeTab=='deleted'">
        <i class="fa fa-reply" aria-hidden="true" title="Restore image"></i>
      </li>
  	</ul>
  	
  </div>
</section>