// Image gallery component wrapper
.imagegallery-wrap {
  width: 100%;;

  .container {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    
    .gallery-control {
      .nav-pills {
        li { float: right; 
          &.active {
            a {
             color: $base-white;  
            }
          }
          a {
            color: $blue;
            border-radius: 0;
            border: 1px solid #337ab7;
            cursor: pointer;
          }
        }
      } 
    }

     
    &.active {
      ul {
        li {
          &.activeItem {
            display: inline-block !important;
          }
          &.deletedItem {
            display: none !important;
          }
        }
      }
    }

    &.deleted {
      ul {
        li {
          &.activeItem {
            display: none !important;
          }
          &.deletedItem {
            display: inline-block !important;
          }
        }
      }
    }

    .inner-wrapper {
      margin: 0 -15px;
      ul {
        list-style: none;
        width: 100%;
        li {
          width: calc(100% - 30px);
          display: inline-block;
          font-size: 0;
          margin: 15px 15px;
          cursor: pointer;
          -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
          -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
          box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
          
          .image-container {
            overflow: hidden;
            position: relative;
            &:AFTER{ content: ''; height: 0; padding-bottom: 50%; display: block; }
            img { max-width: 100%; position: absolute; left: 0; right: 0; }
          }
          
          .title { padding: 20px; font-size: $font-size; }

          @media (min-width: $media-min-640) {
            width: calc(50% - 30px);
          }

          @media (min-width: $media-min-768) {
            width: calc(25% - 30px);
          }

        }
      }
    }

    
    @media (min-width: $media-min-640) {
      padding: 20px 50px;
    }
  }

}


// Actionbar wrapper
.actionbar-wrap {
  width: 100%;
  background: $purple;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  .container {
    width: 100%;
    max-width: $max-width;
    padding: 20px 0;
    position: relative;
    z-index: 100;
    margin: 0 auto;
    color: $base-white;
    text-align: center;

    ul {
      list-style: none;
      li {
        display: inline-block;
        margin: 0 10px;
        cursor: pointer;
        color: $base-white;  
        
        &:HOVER {
          color: $base-black;
        }

        a {
          color: $base-white;  
          &:HOVER {
            color: $base-black;
          }
        }
        
      }
    }
  }

  @media (min-width: $media-min-1200) {
    text-align: left;
  }
}
