// Topbar wrapper
.topbar-wrap {
  width: 100%;
  background-color: $base-white;

  .container {
    width: 100%;
    max-width: $max-width;
    padding: 60px 0 40px 0;
    background: $topbar-bg-color;
    position: relative;
    z-index: 100;
    margin: 0 auto;
    
    h2 {
      font-size: 26px;
    }
  }

  @media (min-width: $media-min-1200) {
  }

}
