body {
  background-color: $grey-haze;
}

.content-page {

  .container {
    .row {
      h1 {
        font-size: 38px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 35px;
      }

      h2 {
        font-weight:bold;
        margin-bottom: 10px;
      }

      label {
        margin-top:10px;
        display:block;
        font-size: 14px;
        padding: 6px 12px;
      }

      .register-agb-container {
        font-size:14px;

        input {
          width:20px;
        }
      }

      .register-button-container {
        text-align: right;
      }
    }
    .content-page-spacer {
      margin-top:30px;
    }
  }
}

