// Global font styling
body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;

  @media (min-width: $media-min-1200) {
    font-size: $dt-font-size;
    line-height: $dt-line-height;
  }
}

a,
a:link,
a:active {
  text-decoration: none;
  color: $link-color;
}
strong {
  font-weight: 700;
}
