// Container helper class
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;

  a {
    font-weigth:bold;
    color:$link-color;
  }

  &:after {
    @extend %clearfix;
  }

  @media (min-width: $media-min-1200) {
    width: $media-min-1200;
  }
}

// Clearfix helper class
.clearfix {
  &:after {
    @extend %clearfix;
  }
}

.mobile-view {
  display: block;
  @media (min-width: $media-min-1200) {
    display: none !important;
  }
}

.desktop-view {
  display: none;
  @media (min-width: $media-min-1200) {
    display: block !important;
  }
}

// Generates all base icons
// @include icon-gen($base-icon-list);
.icon::before {
  content: '';
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.topbar-wrap .icon:before {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}
.content-head-spacer {
  margin-top: 40px;
  padding: 30px;

  @media (min-width: $media-min-640) {
    margin-top:60px;
  }
}
