// Font
$font-family: Arial , sans-serif;
$font-size: 14px;
$line-height: 16px;
$dt-font-size: 18px;
$dt-line-height: 20px;

// Breakpoints
$media-min-320: 320px;
$media-min-640: 640px;
$media-min-768: 768px;
$media-min-1200: 1200px;

// Colors
$base-white: #fff;
$base-black: #000;
$grey-haze: #F3F4F8;
$purple: #4F587D;
$blue: #337ab7;
$link-color: #000;



$max-width: 90vw;